//base code and footer
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  font-size: 1rem;
  text-align: center;
  font-family: cursive;
  font-style: italic;

  a {
    color: hsl(228, 45%, 44%);
  }
}

//importing google font

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

//box top colors

$Red: hsl(0, 78%, 62%);
$Cyan: hsl(180, 62%, 55%);
$Orange: hsl(34, 97%, 64%);
$Blue: hsl(212, 86%, 64%);

//base colors

$veryDarkBlue: hsl(234, 12%, 34%);
$grayishBlue: hsl(229, 6%, 66%);
$veryLightGray: hsl(0, 0%, 98%);

//font size

$fontSize: 15px;

//font family

$mainFont: "Poppins", sans-serif;
